* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.completed {
    text-decoration: line-through;
    font-weight: bold;
    }

body {
    color: white;
    text-align: center;
    background-color: rgb(44, 43, 42);
} 

#taskList {
    margin-top: 1rem;
}

#tittle {
    margin-top: 15rem;
}

form {
    margin-top: 2rem;
}

form #taskInput {
    font-size: 20px;
}

button{
    background-color: rgb(119, 43, 226);
    color: white;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    height: 1.5rem;
    width: 10rem;
}