

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'beaufort-lol-regular', 'Arial';

}

.container{
    width: 50%;
    margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-self: center;
	border-style: solid;
    text-align: center;
    margin-top: 5rem;
    background-color: rgb(214, 217, 220);
}

.formulario form{
	margin-top: 2rem;
    margin-bottom: 2rem;
}

.formulario h1 p{
    color: green;
}

.formulario h2{
    margin-top: 5rem;
}

.formulario form input{
    display: block;
    margin-top: 1rem;
    height: 3rem;
    width: 80%;
    margin-left: 10%;
}

.formulario button{
    margin-top: 1.5rem;
    height: 3.5rem;
    width: 14rem;
    background-color: yellowgreen;
    border: none;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    color: white;
}

body{
	background-color: white;
	background-position: center;
	background-attachment: fixed;
	backdrop-filter: blur(3px);
	color: black;
}

.success_message{
    padding-top: 1rem;
    background-color: yellowgreen;
    display: none;
    color: white;
}